<ng-template #ratingTemplate let-val="val">
  @if (val) {
    <span class="text-theme "><span class=""
    >@for (i of [].constructor(Math.floor(val)); track i; ) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="currentcolor"
           stroke="currentcolor" stroke-linecap="miter" stroke-linejoin="miter" stroke-width="2">
    <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
  </svg>
    }</span><span
    >@if ((val - Math.floor(val)) > 0) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" stroke="currentcolor"
           stroke-linecap="miter" stroke-linejoin="miter" stroke-width="2">
    <defs>
      <linearGradient [id]="'grad-'+review._id">
        <stop offset="50%" stop-color="currentcolor" />
        <stop offset="50%" stop-color="white" />
      </linearGradient>
    </defs>
    <path [attr.fill]="'url(#grad-'+review._id+')'" d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
  </svg>
    }</span><span
    >@for (i of [].constructor(5 - Math.ceil(val)); track i; ) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none"
           stroke="currentcolor"
           stroke-linecap="miter" stroke-linejoin="miter" stroke-width="2">
    <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
  </svg>
    }</span>
            </span>
  }
</ng-template>


@if (review) {
  <div class="review-unit-container row gap-3 my-2 g-0">
    <div class="row g-0 gap-1 customer-info-row">
      <div class="customer-pic-wrapper col-auto rounded-5 text-light d-flex justify-content-center pe-0">
        @if (review.customer?.picture?.key) {
          <img [src]="config.bucketAccessEndpoint+'/'+review.customer?.picture?.key" alt="profile picture"
               class="rounded-circle" />
        } @else {
          <span class="fx-icon fx-icon-person-fill bg-dark-subtle"></span>
        }
      </div>
      <div
        class="customer-name-wrapper col-auto d-flex align-items-center fw-bold text-secondary-emphasis fs-5">
        {{ review.customer.name }}@if (review?.customer?.status === 'verified') {
        &nbsp;<span class="fx-icon fx-icon-rounded-check theme-background mt-1"></span>
      }
      </div>
    </div>
    <div class="row g-0 gap-1 review-date-row">
      <span class=" text-secondary"> {{ review.modifiedAt | date: 'd MMMM, y' }}</span>
    </div>
    <div class="row g-0 gap-1 rating-info-row">
      <div class="row row-cols-1 row-cols-md-2 gap-2 ">
        <div class="col d-flex justify-content-between align-items-center rating-element  ">
          <span class="">Service: </span>
          <span class=" row gap-0">
              <span class="col-auto mt-1 fw-bold">{{ review.service|number: '1.1-1' }}</span>&nbsp;<span class="col-auto p-0 "><ng-container
                *ngTemplateOutlet="ratingTemplate; context: { val: review.service }"></ng-container></span>
            </span>
        </div>
        <div class="col d-flex justify-content-between align-items-center rating-element ">
          <span>Ambience: </span>
          <span class="row gap-0">
              <span class="col-auto mt-1 fw-bold">{{ review.ambience|number: '1.1-1' }}</span>&nbsp;<span class="col-auto p-0 "><ng-container
                *ngTemplateOutlet="ratingTemplate; context: { val: review.ambience }"></ng-container></span>
            </span>
        </div>
      </div>
    </div>
    <div class="row g-0 gap-1 review-description-row">
      <pre class="mb-0">
                {{ review.description }}
            </pre
            >
    </div>
    @if(review.children?.length) {
      <div class="row g-0 gap-2 review-items-row">
        <div class="review-items-label fs-6 fw-bold text-dark">
          <span>{{ config.placeReviewItemsLabel }}</span>
        </div>
        <div class="review-items-wrapper row gap-3 mx-0 px-0 text-dark">
            @for(ir of review.children; track  ir; let index = $index) {
              <div class="row gap-2 review-header-row d-flex justify-content-between mx-0 px-0 g-1">
                <div class="col-12 review-items-item-label d-flex">
                  <span class="review-items-item-index fs-6 fw-bold ">{{ index + 1 }}.</span>
                  &nbsp;
                  <span class="review-items-item-name fs-6 fw-bold ">{{

                      ir?.placeItem?.name
                      // place.items[ir.item._id].name



                    }}</span>
                </div>
                <div class="col-12 review-items-item-rating-wrapper row justify-content-end">
                  <div class="row rating-info-row gap-2 my-2">
                    <div class="row row-cols-1 row-cols-md-2 gap-2">
                      <div class="col d-flex justify-content-between align-items-center rating-element fs-smaller">
                        <span class="">Taste: </span>
                        <span class=" row gap-0">
                    <span class="col-auto mt-1 fw-bold">{{ ir.taste|number: '1.1-1' }}</span>&nbsp;<span
                          class="col-auto p-0 "><ng-container
                          *ngTemplateOutlet="ratingTemplate; context: { val: ir.taste }"></ng-container></span>
                  </span>
                      </div>
                      <div class="col d-flex justify-content-between align-items-center rating-element  fs-smaller">
                        <span class="">Presentation: </span>
                        <span class=" row gap-0">
                    <span class="col-auto mt-1 fw-bold">{{ ir.presentation|number: '1.1-1' }}</span>&nbsp;<span
                          class="col-auto p-0 "><ng-container
                          *ngTemplateOutlet="ratingTemplate; context: { val: ir.presentation }"></ng-container></span>
                  </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 row gap-1 review-items-item-description-row text-justify px-0">
                <pre class="text-justify">
                                    {{ ir.description }}
                                </pre
                                >
                  </div>
                  <div class="review-photos-wrapper-holder col">
                    <ng-container *ngFor="let media of ir.medias">
                      <img
                        [src]="config.bucketAccessEndpoint+'/'+media?.key"
                        class="img-thumbnail" alt="Image" />
                      <!--                  <img [src]="media.url" class="img-thumbnail" alt="Image" />-->
                      <!--                  <img [src]="media.url" class="img-thumbnail" alt="Image" />-->
                    </ng-container>
                  </div>
                </div>
              </div>
            }
        </div>
      </div>
    }
    @if (review.medias?.length) {
      <div class="row g-0 gap-1 review-photos-row">
        <div class="review-photos-wrapper-holder">
          @for (media of review.medias; track media) {
            <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
            <!--          TODO remove the following two lines of img tag in prod-->
            <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
            <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
          }
        </div>
      </div>
    }
    <div class="row g-0 gap-1 review-feedback-row">
      <div class="review-feedback-wrapper d-flex flex-column">
        <app-review-feedback [review]="review"></app-review-feedback>
        @if (review.helpful) {
          <div class="review-feedback-text fw-bold text-secondary">
            <span> {{ review.helpful }} people found it helpful</span>
          </div>
        }
      </div>
    </div>
  </div>
}
