<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--00000-->
<!--<asl-google-signin-button type='standard' size='medium'>-->
<!--</asl-google-signin-button>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--11111-->
<!--<div _id="g_id_onload"-->
<!--     data-client_id="7360139281-qbgics3laaps2sapu417fhkfmgcc4bja.apps.googleusercontent.com"-->
<!--     data-context="signin"-->
<!--     data-ux_mode="popup"-->
<!--     data-login_uri="http://localhost:4300/"-->
<!--     data-nonce=""-->
<!--     data-auto_prompt="false">-->
<!--</div>-->
<!--chandan-->
<!--<div class="g_id_signin"-->
<!--     data-type="standard"-->
<!--     data-shape="rectangular"-->
<!--     data-theme="outline"-->
<!--     data-text="signin_with"-->
<!--     data-size="large"-->
<!--     data-logo_alignment="left">-->
<!--</div>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li class="flex-grow-1" [ngbNavItem]="1" >
    <button ngbNavLink class="w-100">Login</button>
    <ng-template ngbNavContent>
      <ng-container *ngTemplateOutlet="content; context: { $implicit: 'Login' }"></ng-container>
    </ng-template>
  </li>
  <li class="flex-grow-1" [ngbNavItem]="2">
    <button ngbNavLink class=" w-100">Signup</button>
    <ng-template ngbNavContent>
      <ng-container *ngTemplateOutlet="content; context: { $implicit: 'Sign up' }"></ng-container>
    </ng-template>
  </li>
</ul>

<ng-template #content let-action>
  <div class="auth-content my-5 row g-0 gap-2 gap-lg-3 ms-lg-5 ps-lg-5">
  <span class="fs-3">{{ action }} to <span class="title-font fw-bold fs-1">{{ config.title }}</span></span>
    <div class="row">
      <form class="flex-grow-1 my-3" (ngSubmit)="submitLogin()" accept-charset="UTF-8" method="post">
        <!--      <input type="hidden" name="auth_token" value="xcvbvcxdf" autocomplete="off">-->
        <button
          name="button"
          type="submit"
          class="btn btn-outline-dark border-secondary btn-lg flex-grow-1 rounded-pill w-100 oidc-button gmail-button">
          <svg
            width="25"
            height="25"
            viewBox="0 0 18 18"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            role="img"
            class="icon">
            <path
              fill="#4285F4"
              d="M14.9 8.161c0-.476-.039-.954-.121-1.422h-6.64v2.695h3.802a3.24 3.24 0 01-1.407 2.127v1.75h2.269c1.332-1.22 2.097-3.02 2.097-5.15z" />
            <path
              fill="#34A853"
              d="M8.14 15c1.898 0 3.499-.62 4.665-1.69l-2.268-1.749c-.631.427-1.446.669-2.395.669-1.836 0-3.393-1.232-3.952-2.888H1.85v1.803A7.044 7.044 0 008.14 15z" />
            <path fill="#FBBC04" d="M4.187 9.342a4.17 4.17 0 010-2.68V4.859H1.849a6.97 6.97 0 000 6.286l2.338-1.803z" />
            <path
              fill="#EA4335"
              d="M8.14 3.77a3.837 3.837 0 012.7 1.05l2.01-1.999a6.786 6.786 0 00-4.71-1.82 7.042 7.042 0 00-6.29 3.858L4.186 6.66c.556-1.658 2.116-2.89 3.952-2.89z" />
          </svg>
          <span class="fw-bolder">&nbsp;&nbsp;{{ action }}</span> with Google
        </button>
      </form>
    </div>

    <div class="separator">or {{ action }} with email</div>

    <div
      class="row gap-4 needs-validation login-in-form"
      (ngSubmit)="submitLogin()"
      [formGroup]="loginFG">
      <form action="/session" accept-charset="UTF-8" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="zJUfkhrmJc9f7UzFBn3clgGqvazUZ1UZq8cbohBHmnXVzt6abEt7MjPKnka9yRmhbOK9r1wY66PxyUw26GrrDw"
          autocomplete="off" />

        <div class="form-fields row gap-3 login-form-content">
          <div class="mb-3 col-12">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control rounded-4" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3 col-12">
            <label for="password1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control rounded-4"
              id="password1"
              aria-describedby="password"
              tabindex="2" />
          </div>

          <button type="submit" class="btn btn-dark rounded-pill form-control fw-bolder" disabled>{{ action }}</button>
        </div>
      </form>
      <p class="">**We will never share your email or phone number with anyone.</p>
    </div>
  </div>
</ng-template>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
