@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


//$input-border-color: blue;
//$input-color: blue;

//$dropdown-link-color: $dark-bg-subtle;
$dropdown-link-hover-color: $light-bg-subtle;
$dropdown-link-hover-bg:  $dropdown-dark-bg;
$dropdown-link-active-bg: $dark;

// Nav bars
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: $dark-bg-subtle;

$nav-tabs-link-active-color: $dark;
$nav-link-color: $dark-text-emphasis;
$nav-link-hover-color:$dark-text-emphasis;
