
.fx-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  //width: 2.5rem;
  //height: 2.5rem;
  background-color: black;
  mask-size: cover;
}

.fx-icon-person-fill {
  mask: url(../assets/images/svgs/person-fill.svg) no-repeat;
  position: relative;
  left: -4px;
}
.fx-icon-rounded-check {
  mask: url(../assets/images/svgs/rounded-check.svg) no-repeat;
  width: 24px;
  height: 24px;
}
.fx-icon-filter {
  mask: url(../assets/images/svgs/filter.svg) no-repeat;
  width: 24px;
  height: 24px;
}
.fx-icon-no-image {
  mask: url(../assets/images/svgs/no-image.svg) no-repeat;
  // width: 24px;
  // height: 24px;
  mask-size: contain;
  opacity: 0.3;
}

.fx-icon-edit {
  mask: url(../assets/images/svgs/edit.svg) no-repeat;
  width: 24px;
  height: 24px;
  mask-size: contain;
  opacity: 0.8;
}


.fx-icon:hover,
.fx-icon:focus {
  background-color: $teal-dark-color;
}
