<ng-container *ngIf="place$ | async as place">
  <div class="row gap-4 place-detail-container mobile-place-detail-container">
    <div class="place-title-container col-12 row justify-content-between align-items-end">
      <div class="col-12 col-md-8">
        <div class="row my-1">
          <span class="place-name-text fw-bolder text-secondary-emphasis"
            ><i class="bi bi-shop me-2"></i>{{ place.name }}</span
          >
        </div>
        <div class="row my-1">
          <span class="place-suburb-text fw-bolder fs-6 text-secondary-emphasis"
            ><i class="bi bi-geo-alt fs-5 me-2"></i>{{ place.address?.suburb }}</span
          >
        </div>
      </div>
      <div class="item-rating-container d-flex d-lg-none flex-column fw-bold col-12 col-md-3">
        <div class="ambience-container mobile-ambience-container">
          <div class="d-flex justify-content-between">
            <span class="ambience-text me-2">Ambience: </span><span>{{ place.ambience | number: '1.1-1' }}</span>
          </div>
        </div>
        <div class="service-container mobile-service-container">
          <div class="d-flex justify-content-between">
            <span class="service-text">Service: </span> <span>{{ place.service | number: '1.1-1' }}</span>
          </div>
          <!--                                    <div class="d-flex justify-content-between mt-auto"><span-->
          <!--                                            class="item-price-text fs-5">Price: </span><span-->
          <!--                                            class="fw-bold fs-5 ms-1">${{place.price}}</span></div>-->
        </div>
        <span class="no-of-reviews-text fw-normal text-secondary-emphasis fs-smaller"
          >(Out of {{ place.noOfReviews }} reviews):
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-secondary">
        <div class="row mx-0">
          <div class="col-12 col-lg-7 image-container px-0">
            <!-- <div class="card-body d-lg-none d-flex justify-content-between">
               <div class="d-flex flex-column align-items-start align-content-start ">
                        <span class="card-text text-body-secondary text-truncate-3"><i
                                class="bi bi-shop fs-5 me-2"></i>{{place.name}}</span>
                    <span class="card-text text-body-secondary text-truncate-3"><i
                            class="bi bi-geo-alt fs-5 me-2"></i>{{place.address?.suburb}}</span>
                </div>
                <div class="item-rating-container d-flex flex-column fw-bold ">
                    <div class="d-flex justify-content-between"><span
                            class="ambience-text me-2">Ambience: </span><span>{{place.ambience| number : '1.1-1'}}</span>
                    </div>
                    <div class="d-flex justify-content-between"><span class="service-text">Service: </span>
                        <span>{{place.service| number : '1.1-1'}}</span></div>
                </div>
            </div>-->
            <!--                        <ngb-carousel [showNavigationArrows]="config.carousel.showNavigationArrows"-->
            <!--                                      [showNavigationIndicators]="config.carousel.showNavigationIndicators"-->
            <!--                                      [pauseOnHover]="config.carousel.pauseOnHover"-->
            <!--                                      [pauseOnFocus]="config.carousel.pauseOnFocus"-->
            <!--                                      [interval]="0"-->
            <!--                                      #reviewImgCarousel>-->
            <!--                                <ng-container *ngFor="let media of place?.medias;">-->
            <!--                                    <ng-template ngbSlide>-->
            <!--                                        <div class="picsum-img-wrapper">-->
            <img
              [src]="place.medias?.[0]?.url"
              alt="loading picture of the place"
              class="card-img-top w-100 img-fluid rounded-0" />
            <!--                                        </div>-->
            <!--                                    </ng-template>-->
            <!--                                </ng-container>-->
            <!--                        </ngb-carousel>-->
          </div>
          <div class="d-flex justify-content-center col-12 col-lg detail-container">
            <div class="row gap-2 mx-0 px-0 my-4 justify-content-center">
              <!--
                <div class="col-12 d-none d-lg-flex row gap-1 flex-column ">
                    <div class="row my-1"><span class="place-name-text fs-6 fw-bolder text-secondary-emphasis"><i
                            class="bi bi-shop fw-bolder fs-4
                                 me-2"></i>{{place.name}}</span></div>
                    <div class="row my-1"><span class="place-suburb-text fw-bolder text-secondary-emphasis"><i
                            class="bi bi-geo-alt fs-4 me-2"></i>{{place.address?.suburb}}</span></div>
                </div>
              -->
              <div class="row mx-3 mx-lg-0">
                <div class="d-flex col-12 col-md-4 col-lg-6 py-1 py-lg-0 text-secondary" *ngFor="let tag of place.tags">
                  <span class="material-symbols-outlined d-inline">
                    {{ getMaterialIconNameForTag({ name: tag.label }) }}
                  </span>
                  <span class="px-2 place-tag-text text-justify d-inline">{{ tag.label }}</span>
                </div>
              </div>

              <div class="row mx-3 mx-lg-0">
                <div class="opening-times-container row mx-0 px-0">
                  <!-- div Button triggers BusinessHours modal -->
                  <div
                    type="button"
                    class="d-flex flex-row col-12 py-1 py-lg-0 text-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#businessHoursModal">
                    <span class="fw-bolder d-inline">
                      Business Hours
                      <span class="px-1 text-dark"><i class="bi bi-chevron-right"></i></span>
                    </span>
                  </div>
                  <!--                                <div class="d-flex col-12 col-md-4 col-lg-6 py-1 py-lg-0 text-secondary " *ngFor="let e of Object.entries(place.openingTimes)" >-->
                  <!--                                    <span class=" d-inline">-->
                  <!--                                        {{e[0] | titlecase}}: {{e[1].open  }}:00-{{e[1].close}}:00-->
                  <!--                                    </span>-->
                  <!--                                </div>-->
                </div>
              </div>

              <div
                class="row gap-1 col-12 d-none d-lg-flex place-rating-container desktop-place-rating-container mt-2 fw-bold">
                <!--                              ambience-->
                <div class="d-flex flex-column j">
                  <span class="ambience-text">Ambience: </span>
                  <div class="d-flex flex-row align-items-center justify-content-between progress-container">
                    <div
                      class="progress rounded-0 flex-grow-1 h-100 me-1"
                      role="progressbar"
                      [attr.aria-label]="'Ambience at this place is rated at ' + (place.ambience | number: '1.1')"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      <div class="progress-bar" [style]="'width: ' + place.ambience * 20 + '%'"></div>
                    </div>
                    <span class="ms-1 card-text text-body-secondary text-dark fw-bolder">{{
                      place.ambience | number: '1.1-1'
                    }}</span>
                  </div>
                  <span class="no-of-reviews-text fw-normal text-secondary"
                    >(Out of {{ place.noOfReviews }} reviews):
                  </span>
                  <!--                                    <span>{{place.ambience| number : '1.1-1'}}</span>-->
                </div>
                <!--                              service -->
                <div class="d-flex flex-column">
                  <span class="service-text">Service: </span>
                  <div class="d-flex flex-row align-items-center justify-content-between progress-container">
                    <div
                      class="progress rounded-0 flex-grow-1 h-100 me-1"
                      role="progressbar"
                      [attr.aria-label]="'Service at this place is rated at ' + (place.service | number: '1.1')"
                      aria-valuemin="0"
                      aria-valuemax="100">
                      <div class="progress-bar" [style]="'width: ' + place.service * 20 + '%'"></div>
                    </div>
                    <span class="ms-1 card-text text-body-secondary text-dark fw-bolder">{{
                      place.service | number: '1.1-1'
                    }}</span>
                  </div>
                  <span class="no-of-reviews-text fw-normal text-secondary"
                    >(Out of {{ place.noOfReviews }} reviews):
                  </span>

                  <!--                                    <span>{{place.service| number : '1.1-1'}}</span>-->
                </div>
              </div>
              <div class="row place-give-review-container mt-auto mx-3 mx-lg-0">
                <!--                      <div class="d-flexx justify-content-centerr ">-->
                <button (click)="onGiveAReviewClick()" class="btn btn-dark">
                  {{ config.giveAReviewLabel }}
                </button>
                <!--                      </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="place-navigation-container col-12">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item cursor-pointer">
          <a
            class="nav-link"
            aria-current="page"
            [ngClass]="{ active: this.showMenuItems, 'fw-bolder': this.showMenuItems }"
            (click)="this.showMenuItems = true">
            <span class="fs-5">Menu Items</span>
          </a>
        </li>
        <li class="nav-item cursor-pointer">
          <a
            class="nav-link"
            aria-current="page"
            [ngClass]="{ active: !this.showMenuItems, 'fw-bolder': !this.showMenuItems }"
            (click)="this.showMenuItems = false">
            <span class="fs-5">Reviews</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <!-- <router-outlet name="placeSpot"></router-outlet>-->
      <ng-container *ngIf="showMenuItems">
        <app-item-list></app-item-list>
      </ng-container>
      <ng-container *ngIf="!showMenuItems">
        <app-place-reviews [place]="place"></app-place-reviews>
      </ng-container>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="businessHoursModal"
    tabindex="-1"
    aria-labelledby="businessHoursModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="businessHoursModalLabel">Business Hours</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row my-1" *ngFor="let e of Object.entries(place.openingTimes)">
              <div class="col-4">{{ e[0] | titlecase }}:</div>
              <div class="col-7 ms-auto">{{ e[1].open }}:00 - {{ e[1].close }}:00</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
