@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-search {
  display: block;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.nav-icon:hover {
  cursor: pointer;
}
