.item-list-container {
  //max-width: 74em;
}
.items-filter-wrapper {
  width: 10em;
}

.course-navigation-container{
  height: 2.75rem;
}

.item-category-wrapper{
  height: 30rem;
  overflow-y: scroll;
}

ul.nav {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 25rem;
}

ul.nav::-webkit-scrollbar {
  display: none;
}

ul.nav li {
  display: inline-block;
  float: none;
}