<!--<a class="btn btn-primary d-block d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">-->
<!--  Link with href-->
<!--</a>-->

<!--<div class="nav-block mr-auto d-block d-lg-none ">-->
<!--  &lt;!&ndash;<a class="btn btn-primary d-none d-lg-block" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">&ndash;&gt;-->
<!--  &lt;!&ndash;  Link with href&ndash;&gt;-->
<!--  &lt;!&ndash;</a>&ndash;&gt;-->

<!--  <span class="w-100 h-100 rounded d-flex align-items-center justify-content-center nav-block px-2 fs-1"-->
<!--        data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"-->
<!--        hover-classes="bg-body-secondary text-dark rounded-bottom-0"><i-->
<!--    class="bi bi-ear nav-icon "></i></span>-->
<!--</div>-->

<div
  class="offcanvas offcanvas-start text-bg-dark"
  tabindex="-1"
  id="offcanvasMenu"
  aria-labelledby="offcanvasMenuLabel"
  #offcanvasMenu>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel"></h5>
    <button
      type="button"
      class="btn-close btn-close-white text-light fs-3 fw-bolder m-2 p-2"
      data-bs-dismiss="offcanvas"
      data-bs-target="#offcanvasMenu"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </div>
</div>

<div class="d-none d-lg-block">
  <ng-container *ngTemplateOutlet="nav"></ng-container>
</div>

<ng-template #nav>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-light min-vh-100">
          <!--        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-light text-decoration-none">-->
          <!--          <span class="fs-5 d-none d-sm-inline">Menu</span>-->
          <!--        </a>-->

          @if (! (customer$|async)) {
            <div class="w-100 flex-grow-1 d-flex d-lg-none">
              <button class="btn btn-outline-light fs-5 flex-grow-1" routerLink="/login">Login/signup</button>
            </div>
          }
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start align-items-center w-100" id="menu">
            <li class="nav-item flex-md-grow-1 w-100" *ngFor="let item of items">
              <div class="rounded flex-md-grow-1 p-2 py-md-0">
                <a
                  [routerLink]="[item?.route]"
                  class="nav-link align-middle px-0 text-light d-flex flex-row flex-md-column flex-xxl-row text-center align-items-center"
                  data-bs-dismiss="offcanvas"
                  data-bs-target="#offcanvasMenu"
                  aria-label="Close">
                  <i class="fs-2" [ngClass]="item.icon"></i>
                  <!--                <i class="bi bi-heart-pulse"></i>-->
                  <span class="ms-1 p-2 d-inline text-xl-start">{{ item.label }}</span>
                </a>
              </div>
            </li>
          </ul>
          <hr />
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start align-items-center w-100" id="footer">
            <li class="nav-item flex-md-grow-1 w-100" *ngFor="let item of footer_items">
              <div class="rounded flex-md-grow-1 p-2 py-md-0">
                <a
                  [routerLink]="[item?.route]"
                  class="nav-link align-middle px-0 text-light d-flex flex-row flex-md-column flex-xxl-row text-center align-items-center"
                  data-bs-dismiss="offcanvas"
                  data-bs-target="#offcanvasMenu"
                  aria-label="Close">
                  <i class="fs-2" [ngClass]="item.icon"></i>
                  <!--                <i class="bi bi-heart-pulse"></i>-->
                  <span class="ms-1 p-2 d-inline text-xl-start">{{ item.label }}</span>
                </a>
              </div>
            </li>
          </ul>
          <hr />
          <div class="dropdown pb-4 mt-auto w-100 flex-md-grow-1">
            @if (customer$ | async; as customer) {
              <a
                href="#"
                class="d-flex flex-row flex-md-column flex-xxl-row text-center align-items-center text-light text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <img [src]="config.bucketAccessEndpoint+'/'+customer.picture?.key" alt="profile picture" width="30" height="30" class="rounded-circle" />
                <span class="d-inline mx-1">&commat;{{ customer.name }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" routerLink="/new_review">New review</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
