<div class="place-list-container flex-grow-1 " *ngIf="items$ | async as items">
  <div class="place-list-header d-flex justify-content-between align-items-end">
    <div class="d-flex align-items-center">
      <span class=""
        >Following places offer <span class="fw-bold">"{{ selectedItemName | titlecase }}"</span></span
      >
    </div>
    <div class="filter-container d-flex fs-6">
      <div class="sort-wrapper d-flex mx-2 align-items-center dropstart">
        <span class="d-none d-lg-inline mx-1">Sort by</span>
        <button class="btn btn-light h-100 mx-1 rounded fs-4" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-sort-down"></i>
          <ul class="dropdown-menu">
            <li class="mx-3" *ngFor="let option of config.sortBy">
              <a class="dropdown-item fs-5" href="#">{{ option.label }}</a>
            </li>
          </ul>
        </button>
      </div>
    </div>
  </div>

  <div class="place-list-wrapper" *ngIf="selectedItemName">
    <div ngbScrollSpy #spy="ngbScrollSpy" (activeChange)="fetchPlaces($event)">
      <div class="row gap-3 my-3 px-0 m-0">
        @for(it of items; track it; let i = $index ; let first = $first){

          <div
          class="app-place-list-item-container col-12 px-0"
          [ngbScrollSpyFragment]="i + ',' + items.length">
          <app-place-list-unit [item]="it"></app-place-list-unit>
        </div>

        }
      </div>
    </div>
  </div>
</div>
