@if(review) {
    <div class="review-unit-container row gap-3 my-2">
      <div class="row gap-1 customer-info-row">
        <div class="customer-pic-wrapper col-auto rounded-5 bg-dark-subtle d-flex justify-content-center">
          @if (review.customer?.picture?.key) {
            <img [src]="config.bucketAccessEndpoint+'/'+review.customer?.picture?.key" alt="profile picture"
                 class="rounded-circle" />
          } @else {
            <i class="bi bi-person-fill text-light fs-2"></i>
          }
        </div>
        <div
          class="customer-name-wrapper col-auto d-flex flex-column justify-content-center fw-bold text-secondary-emphasis fs-5">
          {{ review.customer.name }}
        </div>
      </div>
      <div class="row gap-1 review-date-row">
        <span class=" text-secondary"> {{ review.modifiedAt | date: 'd MMMM, y' }}</span>
      </div>
      <div class="row gap-1 rating-info-row">
        <div class="row row-cols-1 row-cols-md-2 gap-2">
          <div class="col d-flex justify-content-between align-items-center rating-element">
            <span>Taste: </span>
                      <ngb-rating
                        [rate]="review.taste"
                        class="fs-5"
                        [readonly]="true"
                        [max]="5"
                        [ariaValueText]="ariaValueText" />
          </div>


          <div class="col d-flex justify-content-between align-items-center rating-element">
            <span class="">Presentation: </span>
                      <ngb-rating

                        [disabled]="true"
                        [rate]="review.presentation"
                        class="fs-5"
                        [readonly]="true"
                        [max]="5"
                        [ariaValueText]="ariaValueText" />
          </div>
          <!-- <div class="col d-flex justify-content-between align-items-center rating-element-small">
             <span>Service: </span>
             <ngb-rating
               [(rate)]="review.service"
               class="fs-5"
               [readonly]="true"
               [max]="5"
               [ariaValueText]="ariaValueText" />
           </div>

           <div class="col d-flex justify-content-between align-items-center rating-element">
             <span>Ambience: </span>
             <ngb-rating
               [(rate)]="review.ambience"
               class="fs-5"
               [readonly]="true"
               [max]="5"
               [ariaValueText]="ariaValueText" />
           </div>-->
        </div>
      </div>
      <div class="row gap-1 review-description-row">
      <pre class="mb-0">
                {{ review.description }}
            </pre
            >
      </div>
      @if (review.medias?.length) {
        <div class="row gap-1 review-photos-row">
          <div class="review-photos-wrapper-holder">
            @for (media of review.medias; track media) {
              <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
              <!--          TODO remove the following two lines of img tag in prod-->
              <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
              <img [src]="config.bucketAccessEndpoint+'/'+media.key" class="img-thumbnail" alt="Image" />
            }
          </div>
        </div>
      }
      <div class="row gap-1 review-feedback-row">
        <div class="review-feedback-wrapper d-flex flex-column">
          <app-review-feedback [review]="review"></app-review-feedback>
          @if (review.helpful) {
            <div class="review-feedback-text fw-bold text-secondary">
              <span> {{ review.helpful }} people found it helpful</span>
            </div>
          }
        </div>
      </div>
    </div>
  }
