<ng-container *ngIf="review">
  <div class="review-unit-container row gap-3 my-2">
    <div class="row gap-1 customer-info-row">
      <div class="customer-pic-wrapper col-auto rounded-5 bg-dark-subtle d-flex justify-content-center">
        <i class="bi bi-person-fill text-light fs-2"></i>
      </div>
      <div
        class="customer-name-wrapper col-auto d-flex flex-column justify-content-center fw-bold text-secondary-emphasis fs-5">
        {{ review.customer.name }}
      </div>
    </div>
    <div class="row gap-1 review-date-row">
      <span class=" text-secondary"> {{ review.modifiedAt | date: 'd MMMM, y' }}</span>
    </div>
    <div class="row gap-1 rating-info-row">
      <div class="row row-cols-2 gap-2">
        <div class="col d-flex justify-content-between align-items-center rating-element-small">
          <span>Taste: </span>
          <ngb-rating
            [(rate)]="review.taste"
            class="fs-5"
            [readonly]="true"
            [max]="5"
            [ariaValueText]="ariaValueText" />
        </div>
        <div class="col d-flex justify-content-between align-items-center rating-element">
          <span>Presentation: </span>
          <ngb-rating
            [(rate)]="review.presentation"
            class="fs-5"
            [readonly]="true"
            [max]="5"
            [ariaValueText]="ariaValueText" />
        </div>
        <div class="col d-flex justify-content-between align-items-center rating-element-small">
          <span>Service: </span>
          <ngb-rating
            [(rate)]="review.service"
            class="fs-5"
            [readonly]="true"
            [max]="5"
            [ariaValueText]="ariaValueText" />
        </div>
        <div class="col d-flex justify-content-between align-items-center rating-element">
          <span>Ambience: </span>
          <ngb-rating
            [(rate)]="review.ambience"
            class="fs-5"
            [readonly]="true"
            [max]="5"
            [ariaValueText]="ariaValueText" />
        </div>
      </div>
    </div>
    <div class="row gap-1 review-description-row">
      <pre>
                {{ review.description }}
            </pre
      >
    </div>
    <div class="row gap-1 review-photos-row">
      <div class="review-photos-wrapper-holder">
        <ng-container *ngFor="let media of review.medias">
          <img [src]="media.url" class="img-thumbnail" alt="Image" />
          <img [src]="media.url" class="img-thumbnail" alt="Image" />
          <img [src]="media.url" class="img-thumbnail" alt="Image" />
        </ng-container>
      </div>
    </div>

    <div class="row gap-1 review-feedback-row">
      <div class="review-feedback-wrapper d-flex flex-column">
        <app-review-feedback [review]="review"></app-review-feedback>
        <div class="review-feedback-text fw-bold text-secondary">
          <span> {{ review.helpful }} people found it helpful</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
