<!--<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
</button>
<hr>-->

<div class="search-container row m-0 gap-4 py-2 py-md-5 my-md-4">
  <div class="col-12 py-2 px-0 d-flex justify-content-center">
    <form class="row gap-3 m-0 col-12 col-md-10 p-0" #homeSearchForm (ngSubmit)="search(searchStr)">
      <div class="d-flex justify-content-end text-secondary px-0">
        
        @if (suburbs$ | async; as suburbs) {
          <div class="d-flex"> 
            <a  class="cursor-pointer link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-medium d-flex justify-content-center "  (click)="openModal(template, suburbs)">
              <span class="text-secondary">{{this.selectedSuburb ?? 'Select suburb'}}</span>
              <span class="fx-icon fx-icon-down-arrow"></span>
            </a>
          </div>
        }
      </div>

      <div class="d-flex justify-content-between text-secondary px-0">
        <span class="fs-6 fw-bold">{{ config.search_main_label }}</span>
        <!--          <span class="fs-smaller ">{{ config.search_sub_label }}</span>-->
      </div>
      <div class="d-flex gap-3 px-0">
        <div class="col-auto flex-grow-1">
          <label for="homeSearch" class="visually-hidden">{{ config.search_main_label }}</label>
          <input
            type="text"
            class="form-control d-inline border-dark focus-ring"
            id="homeSearch"
            placeholder="Search a dish or restaurant"
            #searchStr />
        </div>
        <span
          class="col-auto filter-icon d-flex align-items-center cursor-pointer"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
          ><span class="fx-icon fx-icon-filter"></span
        ></span>
      </div>

      <div class="filter-container d-flex flex-column p-0">
        <div
          id="collapseBasic"
          [collapse]="isCollapsed"
          [isAnimated]="false"
          class="border border-light-subtle border-1 rounded-1 p-2 my-2">
          <!--        <span class="text-secondary">Filters:</span>-->

          <div class="row gap-2 m-0 my-3">
            @if (cuisines$ | async; as cuisines) {
              <div class="flex-grow-1 col-12 col-md-auto d-flex gap-3 align-items-center m-1 m-md-2 p-0">
                <span class="text-secondary">Choose cuisines</span>
                <ng-multiselect-dropdown
                  class="text-secondary"
                  [placeholder]="'----'"
                  [settings]="dropdownSettings"
                  [data]="cuisines"
                  [(ngModel)]="selectedCuisines"
                  [ngModelOptions]="{ standalone: true }">
                  <!--              (onSelect)="onItemSelect($event)"-->
                  <!--              (onSelectAll)="onSelectAll($event)">-->
                </ng-multiselect-dropdown>
              </div>
            }
            @if (dietaries) {
              <div class="flex-grow-1 col-12 col-md-auto d-flex gap-3 align-items-center m-1 m-md-2 p-0">
                <span class="text-secondary">Dietary requirements</span>
                <ng-multiselect-dropdown
                  class="flex-grow-1 m-1 m-md-2 text-secondary"
                  [placeholder]="'----'"
                  [settings]="dropdownSettings"
                  [data]="dietaries"
                  [(ngModel)]="selectedDiets"
                  [ngModelOptions]="{ standalone: true }"
                  (onSelect)="onDietSelectionChange($event)"
                  (onSelectAll)="onDietSelectionChange($event)"
                  (onDeSelect)="onDietSelectionChange($event)"
                  >
                  <ng-template #optionsTemplate let-item let-option="option">
                    Hello
                    <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px">
                      <label style="color: #333; min-width: 130px; font-weight: normal">getItems[id].item_text</label>
                    </div>
                    <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px">
                      <img src="https://sdfs" style="width: 18px; margin: 0 20px" />
                      <label style="color: #333; min-width: 130px; font-weight: normal">getItems[id].item_tex</label>
                    </div>
                  </ng-template>
                </ng-multiselect-dropdown>
              </div>
            }
            

            @if (!!config.distanceOptions?.length) {
              <div class="flex-grow-1 col-12 col-md-auto d-flex gap-3 align-items-center m-1 m-md-2 p-0">
                <span class="text-secondary">Distance (kms)</span>
                <ng-select [items]="config.distances" [(ngModel)]="selectedDistance" [ngModelOptions]="{standalone: true}"
                  (change)="onDistanceSelectionChange($event)"
                  [searchable]="false" [clearable]="false">
                </ng-select>
    
              </div>
            }
            <!--          <div class="surrounding-suburbs-toggle d-flex " >-->
            <div class="fx-toggle d-flex align-items-center col-12 col-md-auto p-1">
              <input
                type="checkbox"
                id="switch"
                checked="checked"
                [(ngModel)]="includeSurroundingSuburbs"
                (change)="includeSurroundingSuburbs = false"
                [ngModelOptions]="{ standalone: true }"
                class="d-inline" />
              <label for="switch">{{ config.general.includeSurroundingSuburbs }}</label>
              <span class="ps-2 text-secondary">{{ config.general.includeSurroundingSuburbs }}</span>
            </div>
            <!--          </div>-->
            <!--          <div class="new-check-v16">-->
            <!--            <label class="control control&#45;&#45;checkbox">{{ config.general.includeSurroundingSuburbs }}-->
            <!--              <input type="checkbox" checked="checked" [(ngModel)]="includeSurroundingSuburbs"-->
            <!--                     (change)="includeSurroundingSuburbs=false">-->
            <!--              <div class="control__indicator"></div>-->
            <!--            </label>-->
            <!--          </div>-->
          </div>
        </div>

        <div class="col-12 col-md p-0">
          <button type="submit" class="col-12 btn btn-teal focus-ring" #searchBox>Search</button>
        </div>
      </div>
    </form>
  </div>
  @if (errorMessage) {
    <div>
      <span class="text-danger"> {{ JSON.stringify(errorMessage) }}</span>
    </div>
  }
  <!--  Removing random suggestion badges-->
  <!--  <div class="suggestions-container">-->
  <!--    <span class="text-body-tertiary fs-smaller">{{ config.suggestionsLabel }}</span>-->
  <!--    <div class="d-block d-md-inline mx-1 suggestion" *ngFor="let suggestion of randomSuggestions">-->
  <!--      <button type="button" class="btn btn-outline-secondary rounded-5 btn-sm m-1">{{ suggestion.label }}</button>-->
  <!--    </div>-->
  <!--  </div>-->

  @if (!!searchKey) {
    <div class="col-12 d-flex justify-content-center p-0">
      <ul class="nav nav-tabs nav-justified col-12 col-md-10">
        <li class="nav-item cursor-pointer" (click)="dishFlag = false">
          <a class="nav-link" aria-current="page" [class.fw-bolder]="!dishFlag" [class.active]="!dishFlag">
            <span class="fs-6">Places</span>
          </a>
        </li>
        <li class="nav-item cursor-pointer" (click)="dishFlag = true">
          <a class="nav-link" aria-current="page" [class.fw-bolder]="dishFlag" [class.active]="dishFlag">
            <span class="fs-6">Dishes</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="btn-group d-none" role="group" aria-label="select dishes ior restaurants to search for">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="dishesradio1"
        autocomplete="off"
        [checked]="dishFlag"
        (change)="dishFlag = true; searchBox.click()" />
      <label class="btn btn-outline-secondary" [ngClass]="{ 'text-darker-bg-theme': dishFlag }" for="dishesradio1"
        >Dishes</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="placesradio2"
        autocomplete="off"
        [checked]="!dishFlag"
        (change)="dishFlag = false; searchBox.click()" />
      <label class="btn btn-outline-secondary" for="placesradio2" [ngClass]="{ 'text-darker-bg-theme': !dishFlag }"
        >Places</label
      >
    </div>

    <div class="results-wrapper d-flex justify-content-center col-12 p-0">
      @if (!dishFlag) {
        @if (placesResponse?.places?.length) {
          <div class="results-container m-1 col-12 col-md-10">
            <div class="text-secondary-emphasis">
              <span class=""
                >Found <span class="fw-bold">{{ placesResponse?.places?.length }}</span> restaurants matching the
                criteria.</span
              ><span class="fw-bold d-none"> '{{ searchStr.value }}'</span>
            </div>
            @for (place of placesResponse.places; track place; let idx = $index) {
              @if (!!place) {
                <div
                  class="card my-2 border-secondary cursor-pointer places-response-card"
                  >
                  <div class="row g-0">
                    <div class="text-darker-bg-theme">
                      <div class="card-body d-flex">
                        <div class="d-flex flex-column align-items-start align-content-start flex-grow-1">
                          <div class="d-flex flex-column align-items-start align-content-start card-title flex-grow-1"
                            (click)="onViewPlace(place)">
                            <span class="fw-bold">{{ place.placeName }}</span>
                          </div>
                          <div class="d-flex align-items-start align-content-start justify-content-between w-100">
                            <p class="card-text d-flex fs-smaller col-7">&commat;{{ place.address?.suburb }}</p>
                            <div class="service-container col-4 d-flex flex-column">
                              <div class="card-text d-flex justify-content-end">
                                <span class="fs-smaller">Ambience:</span>
                                <span class="mx-2 fw-bolder">{{ place.ratingInfo?.ambience | number: '1.1-1' }}</span>
                              </div>
                              <div class="card-text d-flex justify-content-end">
                                <span class="fs-smaller">Service:</span>
                                <span class="mx-2 fw-bolder">{{ place.ratingInfo?.service | number: '1.1-1' }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--        View all review photos link for mobile container-->
                    <!--              <div class="card-body view-photos-container d-block d-lg-none pt-0 ">-->
                    <!--                <a href="#"-->
                    <!--                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{-->
                    <!--                    config.allReviewPhotosLabel-->
                    <!--                  }}</a>-->
                    <!--              </div>-->

                    <div class="card-body p-0">
                      @if (Object.values(place.items); as items) {
                        @for (number of [0, 1, 2]; track number) {
                          @if (!!items[number]) {
                            <div class="result-item-container d-flex justify-content-center flex-column"
                              (click)="onViewItemInPlace(place, items[number])">
                              <div class="d-flex align-items-center">
                                <div
                                  class="result-place-img-wrapper d-flex align-items-center px-2 justify-content-center">
                                  @if (
                                    items[number]?.placeItem?.medias?.[0]?.key ?? items[number]?.media?.key;
                                    as key
                                  ) {
                                    <img
                                      [src]="config.bucketAccessEndpoint + '/' + key"
                                      class="result-place-img bg-no-img rounded-2" />
                                  } @else {
                                    <span
                                      class="text-secondary-emphasis px-2 result-place-img fx-icon fx-icon-no-image">
                                      <!--                          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"-->
                                      <!--                               fill="#999999"><path-->
                                      <!--                            d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm56-97h489L578-473 446-302l-93-127-117 152Zm-56 97v-600 600Z" /></svg>-->
                                    </span>
                                  }
                                </div>
                                <div class="result-item-detail flex-grow-1 px-1 flex-column align-items-center">
                                  @if (items[number]) {
                                    <span class="card-text text-secondary-emphasis fw-bolder">{{
                                      items[number]?.placeItem?.name ?? items[number]?.name ?? 'No more matching items'
                                    }}</span>
                                  } @else {
                                    <!--                          <span-->
                                    <!--                            class=" pt-2 text-secondary fst-italic">{{ config.general.noMatchingItems }}</span>-->
                                    <!--                          <hr class="dropdown-divider text-secondary" />-->
                                    <hr class="border-bottom border-1 border-dark" />
                                  }
                                  <!--                        {{items[number]?.ratingInfo}}-->
                                  @if (items[number]?.placeItem; as pi) {
                                    <span class="card-text text-body-secondary fs-smaller">
                                      <span class="row gap-0 g-0">
                                        <span class="col-5">Taste: </span>
                                        @if (pi.ratingInfo?.taste) {
                                          <span class="col-7"
                                            >{{ pi.ratingInfo.taste }} ({{ pi.ratingInfo.noOfReviews }} reviews)</span
                                          >
                                        } @else {
                                          <span class="col-7 fst-italic"> Not reviewed yet</span>
                                        }
                                      </span>
                                      <span class="row gap-0 g-0">
                                        <span class="col-5">Presentation: </span>
                                        @if (pi.ratingInfo?.presentation) {
                                          <span class="col-7"
                                            >{{ pi.ratingInfo?.presentation }} ({{
                                              pi.ratingInfo?.noOfReviews
                                            }}
                                            reviews)</span
                                          >
                                        } @else {
                                          <span class="col-7 fst-italic"> Not reviewed yet</span>
                                        }
                                      </span>
                                    </span>
                                  }
                                </div>
                              </div>
                            </div>
                          }
                        }
                      }
                    </div>

                    <!--              <div class="card-body presentation-container">-->
                    <!--                <span class="d-flex flex-row card-text text-body-secondary">Presentation</span>-->
                    <!--                <div class="d-flex flex-row align-items-center justify-content-between progress-container">-->
                    <!--                  <div-->
                    <!--                    class="progress rounded-0 w-100 h-100 me-1"-->
                    <!--                    role="progressbar"-->
                    <!--                    [attr.aria-label]="'Presentation is rated at ' + (place.items?.[0]?.presentation | number: '1.1')"-->
                    <!--                    aria-valuemin="0"-->
                    <!--                    aria-valuemax="100">-->
                    <!--                    <div class="progress-bar" [style]="'width: ' + (place.items?.[0]?.presentation ?? 0) * 20 + '%'"></div>-->
                    <!--                  </div>-->
                    <!--                  <span class="ms-1 card-text text-body-secondary text-dark fw-bolder">{{-->
                    <!--                      place.items?.[0]?.presentation | number: '1.1-1'-->
                    <!--                    }}</span>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--        dont display this in mobile view-->
                    <div class="card-body view-photos-container d-none">
                      @if (config.allReviewPhotosLabel) {
                        <a
                          href="#"
                          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                          >{{ config.allReviewPhotosLabel }}</a
                        >
                      } @else {
                        <span class="w-100 fst-italic">Not reviewed yet</span>
                      }
                    </div>
                  </div>
                </div>
                <div class="row g-0">
                  <hr class="dropdown-divider bg-light-subtle" />
                  <div class="col">
                    <div class="card-body text-truncate-container"></div>
                  </div>
                </div>
              }
            }
          </div>
        } @else {
          <div class="p-3">
            <span class="fw-medium"
              >{{ config.general.noMatchingPlaces }}: <span class="fw-bold">{{ searchKey }}</span></span
            >
          </div>
        }
      } @else {
        @if (itemsResponse?.items?.length) {
            <div class="results-container m-1 col-12 col-md-10">
              <div class="text-secondary-emphasis">
                <span class="fw-medium">{{ config.general.foundFollowingItems }}:</span
                ><span class="fs-5 fw-bold"> '{{ searchStr.value }}'</span>
              </div>
                @for (item of itemsResponse.items; track item; let idx = $index) {
                  @if (!!item) {
                    <div
                      class="card my-2 border-secondary items-response-card"
                      >
                      <div class="row g-0">
                        <div class="text-darker-bg-theme">
                          <div class="card-body d-flex">
                            <!-- <div class="d-flex flex-column align-items-start align-content-start flex-grow-1"> -->
                              <div
                                class="row gap-2 align-items-start align-content-start card-title flex-grow-1 cursor-pointer  link-underline-light link-underline-opacity-75-hover" (click)="onViewItem(item)">
                                <span class="col-12 fw-bold " >{{ item.name }}</span>
                                <span class="col-12 fst-italic user-select-none">{{ item.description }}</span>
                              </div>
                            <!-- </div> -->
                          </div>
                        </div>

                        <!--        View all review photos link for mobile container-->
                        <!--              <div class="card-body view-photos-container d-block d-lg-none pt-0 ">-->
                        <!--                <a href="#"-->
                        <!--                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{-->
                        <!--                    config.allReviewPhotosLabel-->
                        <!--                  }}</a>-->
                        <!--              </div>-->

                        <div class="card-body p-0">
                          @if (Object.values(item.places); as places) {
                            @for (number of [0, 1, 2]; track number) {
                              @if (!!places[number]) {
                                <div class="result-item-container d-flex justify-content-center flex-column" (click)="onViewPlace(places[number])">
                                  <div class="d-flex align-items-center">
                                    <div
                                      class="result-place-img-wrapper d-flex align-items-center px-2 justify-content-center">
                                      @if (
                                        places[number]?.placeItem?.medias?.[0]?.key;
                                        as key
                                      ) {
                                        <img
                                          [src]="config.bucketAccessEndpoint + '/' + key"
                                          class="result-place-img bg-no-img rounded-2" />
                                      } @else {
                                        <span
                                          class="text-secondary-emphasis px-2 result-place-img fx-icon fx-icon-no-image">
                                          <!--                          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"-->
                                          <!--                               fill="#999999"><path-->
                                          <!--                            d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm56-97h489L578-473 446-302l-93-127-117 152Zm-56 97v-600 600Z" /></svg>-->
                                        </span>
                                      }
                                    </div>
                                    <div class="result-item-detail flex-grow-1 px-1 flex-column align-items-center">
                                      @if (places[number]) {
                                        <span class="card-text text-secondary-emphasis fw-bolder">{{
                                          places[number]?.placeName ??
                                            'No more matching items'
                                        }}</span>
                                      } @else {
                                        <!--                          <span-->
                                        <!--                            class=" pt-2 text-secondary fst-italic">{{ config.general.noMatchingItems }}</span>-->
                                        <!--                          <hr class="dropdown-divider text-secondary" />-->
                                        <hr class="border-bottom border-1 border-dark" />
                                      }
                                      <!--                        {{items[number]?.ratingInfo}}-->
                                      @if (places[number]?.placeItem; as pi) {
                                        <span class="card-text text-body-secondary fs-smaller">
                                          <span class="row gap-0 g-0">
                                            <span class="col-5">Taste: </span>
                                            @if (pi.ratingInfo?.taste) {
                                              <span class="col-7"
                                                >{{ pi.ratingInfo.taste }} ({{
                                                  pi.ratingInfo.noOfReviews
                                                }}
                                                reviews)</span
                                              >
                                            } @else {
                                              <span class="col-7 fst-italic"> Not reviewed yet</span>
                                            }
                                          </span>
                                          <span class="row gap-0 g-0">
                                            <span class="col-5">Presentation: </span>
                                            @if (pi.ratingInfo?.presentation) {
                                              <span class="col-7"
                                                >{{ pi.ratingInfo?.presentation }} ({{
                                                  pi.ratingInfo?.noOfReviews
                                                }}
                                                reviews)</span
                                              >
                                            } @else {
                                              <span class="col-7 fst-italic"> Not reviewed yet</span>
                                            }
                                          </span>
                                        </span>
                                      }
                                    </div>
                                  </div>
                                </div>
                              }
                            }
                            @if(places.length>=4) {
                              <div class="more-places-link" (click)="onViewPlaces(item)">
                                <span
                                class="text-secondary-emphasis px-2 text-decoration-underline cursor-pointer">
                                More places
                                </span>
                              </div>
                            }
                          }
                        </div>

                        <!--              <div class="card-body presentation-container">-->
                        <!--                <span class="d-flex flex-row card-text text-body-secondary">Presentation</span>-->
                        <!--                <div class="d-flex flex-row align-items-center justify-content-between progress-container">-->
                        <!--                  <div-->
                        <!--                    class="progress rounded-0 w-100 h-100 me-1"-->
                        <!--                    role="progressbar"-->
                        <!--                    [attr.aria-label]="'Presentation is rated at ' + (place.items?.[0]?.presentation | number: '1.1')"-->
                        <!--                    aria-valuemin="0"-->
                        <!--                    aria-valuemax="100">-->
                        <!--                    <div class="progress-bar" [style]="'width: ' + (place.items?.[0]?.presentation ?? 0) * 20 + '%'"></div>-->
                        <!--                  </div>-->
                        <!--                  <span class="ms-1 card-text text-body-secondary text-dark fw-bolder">{{-->
                        <!--                      place.items?.[0]?.presentation | number: '1.1-1'-->
                        <!--                    }}</span>-->
                        <!--                </div>-->
                        <!--              </div>-->
                        <!--        dont display this in mobile view-->
                        <div class="card-body view-photos-container d-none">
                          @if (config.allReviewPhotosLabel) {
                            <a
                              href="#"
                              class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                              >{{ config.allReviewPhotosLabel }}</a
                            >
                          } @else {
                            <span class="w-100 fst-italic">Not reviewed yet</span>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="row g-0">
                      <hr class="dropdown-divider bg-light-subtle" />
                      <div class="col">
                        <div class="card-body text-truncate-container"></div>
                      </div>
                    </div>

                    <!--                 
                <div class="col-6 p-0 -5 ccol-sm result-card-container">
                      <div class="card border-secondary ">
                        <div class="card-img result-item-img-wrapper col-3 d-flex align-items-center">
                          @if (item.medias?.[0]?.key) {
                            <img
                              [src]="config.bucketAccessEndpoint + '/' + item?.medias?.[0]?.key"
                              class="result-item-img bg-no-img"
                              alt="No image available" />
                          } @else {
                            <object
                              type="image/svg+xml"
                              data="assets/images/svgs/No_image_available.svg"
                              class="result-item-img"></object>
                          }
                        </div>

                        <div class="card-body pb-2 d-flex justify-content-between">
                          <div class="d-flex flex-column flex-grow-1">
                            <div class="item-name align-self-start">
                              <span class="fw-bold text-secondary-emphasis" 
                              [ngClass]="{'fs-smaller': (item.description?.length ?? 0)>15, 'text-truncate-2': (item.description?.length ?? 0)>15}"
                              >{{ item.name }}</span>
                            </div>
                            @if (item.description) {
                              <div class="item-description align-self-start">
                                <span class="text-secondary fst-italic text-truncate-3"
                                >{{ item.description }}</span>
                              </div>
                            }
                            <div class="flex-grow-1 p-0 pt-3 align-content-end">
                              <button class="btn btn-outline-dark w-100" (click)="onViewPlaces(item)">
                                View places
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  }
                }
            </div>
        } @else {
          <div class="p-3">
            <span class="fst-italic fw-medium"
              >{{ config.general.noMatchingItems }}: <span class="fw-bold">{{ searchKey }}</span></span
            >
          </div>
        }
      }
    </div>
  } @else{

      <div class="results-wrapper d-flex flex-column justify-content-center col-12 p-0">
        <!-- commenting popular results container for now-->
        <div class="pop-items-container m-1 m-md-5 col-md-10 ">
          <div class="pop-title fw-medium lead text-body-secondary">{{ config.popular_items_title }}</div>
          <div class="pop-wrapper" *ngIf="popularItems$ | async as resp">
            
            <div class="pop-items row">

              @for(element of resp; track element;) {
                @if(element) { 
                  <div class=" d-flex col-6 col-md-4 col-lg-3 px-0" >
                    <div class=" pop-item-wrapper w-100  m-2 ">
                      <div class="pop-item card focus-ring " hover-classes="text-bg-light" (click)="popularItemSelected(element)">
                        <div class="card-header pop-title text-darker-bg-theme justify-content-center text-center d-flex py-0 px-2">
                          <p
                            class="fw-bold text-truncate-2 d-flex align-items-center m-0"
                            [ngClass]="{ 'fs-smaller': element.name?.length > 20 }">
                            @if(element.name){{{ element.name }}} @else{Best service: }
                          </p>
                        </div>
                        <div class="d-flex popular-item-img-wrapper justify-content-center align-items-center border-top border-bottom w-100 h-100 border-1  border-secondary">
                          @if (element?.media?.key; as key) {
                            <img
                              [src]="config.bucketAccessEndpoint + '/' + key"
                              class=" pop-img-top bg-no-img " 
                              [alt]="element.name" />
                          } @else {
                            <span
                              class="text-secondary-emphasis px-2 result-place-img fx-icon fx-icon-no-image">
                            </span>
                          }
                        </div>
                        <div class="card-body pe-2 pb-2">
                          @if(element.ratingInfo){
                            <p class=" mb-2" >
                              Taste: <span class=""
                              ><span class=" fw-bold">{{ element.ratingInfo?.taste | number: '1.0-1' }}</span
                              ><span class="fs-5 ">/</span><span class="fw-normal">5</span></span
                              >@if((element.ratingInfo.noOfRatings || element.ratingInfo.noOfReviews); as no){<span >&nbsp;({{no}})</span>}
                            </p>
                          }
                        <!-- </div>
                        <div class="card-body "> -->
                          <p
                            class="  d-flex align-items-start  m-0"
                            >
                            <span class="popular-place-icon">
                              <span class="fx-icon fx-icon-shop bg-dark  "></span>
                            </span>
                            &nbsp;
                            <span class="text-truncate-3 ps-1">{{ element.place.placeName }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              }
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="pop-places-container m-1 m-md-5 col-md-10 ">
          <div class="pop-title fw-medium lead text-body-secondary">{{ config.popular_places_title }}</div>
          <div class="pop-wrapper" *ngIf="popularPlaces$ | async as resp">
            
            <div class="pop-items row">

              @for(element of resp; track element;) {
                @if(element) { 
                  <div class=" d-flex col-6 col-md-4 col-lg-3 px-0" >
                    <div class=" pop-item-wrapper   m-2 ">
                      <div class="pop-item card focus-ring " hover-classes="text-bg-light" (click)="popularItemSelected(element)">
                        <div class="card-header pop-title text-darker-bg-theme justify-content-center text-center d-flex py-0 px-2">
                          <p
                            class="fw-bold text-truncate-2 d-flex align-items-center m-0">
                            Best service
                          </p>
                        </div>
                        <div class="d-flex popular-item-img-wrapper justify-content-center align-items-center border-top border-bottom w-100 h-100 border-1  border-secondary">
                          @if (element?.medias?.[0]?.key; as key) {
                            <img
                              [src]="config.bucketAccessEndpoint + '/' + key"
                              class=" pop-img-top bg-no-img " 
                              [alt]="element.placeName" />
                          } @else {
                            <span
                              class="text-secondary-emphasis px-2 result-place-img fx-icon fx-icon-no-image">
                            </span>
                          }
                        </div>
                        <div class="card-body pe-2 pb-2">
                          @if(element.ratingInfo){
                            <p class=" mb-2" >
                              Service: <span class=""
                              ><span class=" fw-bold">{{ element.ratingInfo?.service | number: '1.0-1' }}</span
                              ><span class="fs-5 ">/</span><span class="fw-normal">5</span></span
                              >@if((element.ratingInfo.noOfRatings || element.ratingInfo.noOfReviews); as no){<span >&nbsp;({{no}})</span>}
                            </p>
                          }
                       
                          <p class="  d-flex align-items-start  m-0">
                            <span class="popular-place-icon">
                              <span class="fx-icon fx-icon-shop bg-dark  "></span>
                            </span>
                            &nbsp;
                            <span class="text-truncate-3 ps-1">{{ element.placeName }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              }

            </div>
          </div>
        </div>
      </div>
  }
</div>

<ng-template #template >
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select location</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  @if(modalService.config.initialState?.['suburbs']; as suburbs;){
  <div class="modal-body text-center my-3">
    <span class="">Select a suburb or location: </span>
    <div class="my-2 w-100">
      <div class="">
        <!-- typeaheadGroupField="state" -->
        <!-- (typeaheadNoResults)="typeaheadNoResults($event)" -->

        <input #suburbInput
               [(ngModel)]="searchableSuburbInput"
               [typeahead]="getAsArray(suburbs)"
               typeaheadOptionField="name"
               (typeaheadOnSelect)="onSuburbSelectionChange($event)"
               [typeaheadItemTemplate]="customItemTemplate"
               [typeaheadOrderBy]="suburbTypeAheadConfig"
               [typeaheadSelectFirstItem]="true"
               [typeaheadScrollable]="true"
               [typeaheadOptionsInScrollableView]="11"
               [typeaheadMinLength]="0"
               class="form-control"
               [ngModelOptions]="{ standalone: true }">
      
        <ng-template #customItemTemplate let-model="item">
          <span><strong>{{model.name}}</strong> {{model.postcode}}</span>
        </ng-template>
        <span aria-label="Clear input" class="clear-input text-secondary fs-4" (click)="suburbInput.value=''">&times;</span>
      </div>
      
      <!-- <ng-multiselect-dropdown
        class="align-self-end m-1 m-md-2"
        [placeholder]="'Select suburb'"
        [settings]="suburbDropdownSettings"
        [data]="getAsArray(suburbs)" 
        [(ngModel)]="selectedSuburbs"
        [ngModelOptions]="{ standalone: true }">
      </ng-multiselect-dropdown> -->
    </div>
  </div>
} 
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
</div>

</ng-template>